@font-face {
    font-family: "Genesys";
    src: url("Genesys.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: Malm-Regular */
@font-face {
    font-family: "Malm";
    src: url("Malm-Regular.eot"); /* IE9 Compat Modes */
    src:
        url("Malm-Regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("Malm-Regular.woff") format("woff"),
        /* Modern Browsers */ url("Malm-Regular.woff2") format("woff2"),
        /* Modern Browsers */ url("Malm-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Malm-Bold */
@font-face {
    font-family: "Malm";
    src: url("Malm-Bold.eot"); /* IE9 Compat Modes */
    src:
        url("Malm-Bold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("Malm-Bold.woff") format("woff"),
        /* Modern Browsers */ url("Malm-Bold.woff2") format("woff2"),
        /* Modern Browsers */ url("Malm-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
